ion-header {
  .logo {       
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);    
  }

  ion-toolbar{
    --min-height: 100px;

    ion-title {      
      align-items: flex-end;

      img {
        width: 30%;
        vertical-align: middle;        
      }

      span {
        font-size: 22px;
      }

      ion-button {
        display: block;
      }
    }
  }
}

ion-content {
  
  .no-scroll {
    --overflow: hidden;
  }

  .qrcode {
    width: 100px;
  }

  .background {
    opacity: 0;
    margin-bottom: 0px;
   
    .user-information {
      .perfil {
          width: 100px;
          margin: 10px auto;
          display: block;
       }
    }

    ion-list {
      margin-top: 32px;
      background: transparent;
      
      ion-item {
          color: #fff;
          --background: tranparent;
          --detail-icon-opacity: 1;

          &:first-of-type {
            border-top: 0.55px solid rgba(27, 26, 26, 0.77);
          }
      }
    }

    .logout {
      margin-top: 32px;
      margin-bottom: 10px;
    }

  }
  span {
    margin: 5px 0;
    font-size: 14px;
    display: block;
  }

  .blocks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 999;

    &.fixed {
      position: fixed;
      top: 110px;
      overflow-y: hidden;
    }

    ion-card {
      .cash {
        span {
        &.value {         
          display: block;
        }
          &.blue {
            color: #0ab9cd;
            font-size: 30px;
          }

          &.green {
            color: #94c22b
          }
        }
      }
    }
  }
}

#saudacao {
  padding-left: 10px; 
  font-weight: bold;
}

#horasaudacao {
  font-size: 15px;
}

ion-footer {  
   &.hidden {
    height: 0;
     ion-slides {
      opacity: 0;
    }
  }
  
  ion-slide {
    .container {
      width: 100%;
      height: 50px;
      background: var(--ion-color-primary-tint);
    
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;      
      padding-right: 10%;

      ion-icon {
        font-size: 60px;
      }

      span {
        font-size: 16px;
        padding-left: 10px;
      }

    }
  }
}

.opacity-transition {
  transition: opacity 0.3s;
}